# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_PORT_EXTERNAL=

# Java backend
JAVA_PORT_EXTERNAL=
JWT_SECRET=

# Python backend
PYTHON_PORT_EXTERNAL=
SUPABASE_TABLE=

# Frontend
FRONTEND_PORT_EXTERNAL=
VITE_API_BASE_URL=
API_KEY=